.Post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: var(--cardColor);
  border-radius: 1rem;
  gap: 1rem;
  margin-bottom: 10px;
}

.Post > img {
  width: 100%;
  min-height: 5rem;
  object-fit: cover;
  border-radius: 2rem;
  box-shadow: var(--profileShadow);
}

.postReact{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;

}

.heart{
  height: 28px;
  width: 30px;
}
